a.hover-spec {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 8px 0;
  color: #000;
  text-decoration: none;
}
a.hover-spec:hover{
  color: #000;
  text-decoration: none;
}

a.hover-spec:before, a.hover-spec:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  background: #000;
}

a.hover-spec:before {
  left: 0;
}
a.hover-spec:after {
  right: 0;
  background: #000;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a.hover-spec:hover:before {
  background: #000;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a.hover-spec:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

@media screen and (max-width: 767px) {
  header {
    .menu-desktop {
      display: none;
    }

    .menu-mobile {
      width: 165px;
      position: absolute;
      top: 2rem;
      right: 0;

      details summary {
        cursor: pointer;
        text-align: center;
        transition: margin 150ms ease-out;

        span {
          position: absolute;
          background: black;
          transform: translateY(-50%) rotate(0deg);
          width: 20%;
          height: 10%;
          transition: top 0.1s ease 0.3s, transform 0.3s ease;
          left: 1rem;
        }
      }

      details[open] summary {
        margin-block-end: 10px;

        span {
          display: none;
        }
      }

      summary::marker {
        content: none;
      }
    }
  }

  footer {
    .menu-mobile {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}